@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@500 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');


/* LOGO DE WHATSAPP */
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #19b552;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
    transition: 0.4s;
    transform: scale(1.2)
}

.my-float {
    margin-top: 16px;
}

/* TAMAÑO DE LA BARRA DE SCROLL*/
body::-webkit-scrollbar {
    background-color: #ffffff;
    width: 15px;
}

/* color del boton de scrool  */
body::-webkit-scrollbar-thumb {
    background-color: rgb(41, 41, 41);
    border-radius: 8px;
    border: 3px solid rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(101, 101, 101);
}


/* *********************/
/* MENU HAMBURGUESA */
/* *********************/

.hamburger {
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    background-color: transparent;
}

.hamburger__container {
    width: 36px;
    height: 24px;
    position: relative;
}

.hamburger:hover .hamburger__inner {
    transform: translate(-51px, 50%);
    opacity: 0;
}

.hamburger:hover .hamburger__inner::before,
.hamburger:hover .hamburger__inner::after {
    transform: translate(102px, 0);
    opacity: 0;
}

.hamburger.is-active .hamburger__inner {
    display: none;
}

.hamburger__inner {
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    top: 50%;
    transform: translate(5px, -50%);
    opacity: 1;
}

.hamburger__inner::before,
.hamburger__inner::after {
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    content: "";
    opacity: 1;
    transform: translate(-5px, 0);
}

.hamburger__inner::before {
    top: -13px;
}

.hamburger__inner::after {
    top: 13px;
}

.hamburger:hover .hamburger__hidden {
    opacity: 1;
    transform: translate(0, -50%);
}

.hamburger:hover .hamburger__hidden::before,
.hamburger:hover .hamburger__hidden::after {
    opacity: 1;
    transform: translate(0, 0);
}

.hamburger.is-active .hamburger__hidden {
    opacity: 1;
    transform: rotate(45deg);
}

.hamburger.is-active .hamburger__hidden::before {
    transform: translate(0, 13px) rotate(90deg);
    transform-origin: center;
}

.hamburger.is-active .hamburger__hidden::after {
    transform-origin: center;
    transform: translate(0, -13px) rotate(0);
}

.hamburger__hidden {
    opacity: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    background-color: rgb(255, 199, 88);
    top: 50%;
    transform: translate(51px, -50%);
}

.hamburger__hidden::before,
.hamburger__hidden::after {
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    background-color: rgb(255, 199, 88);
    content: "";
    transform: translate(102px, 0);
}

.hamburger__hidden::before {
    top: -13px;
}

.hamburger__hidden::after {
    top: 13px;
}











/* *********************/
/* seccion I N I C I O */
/* *********************/
.fondo-superiro-navbar {
    background-color: rgb(255, 147, 59);
    padding: 10px; 
}

.logo-tutuca {
    margin-top: -10px;
}

.telefonos {
    font-size: .60em;
    letter-spacing: 1px;
}

.posicion-nav{
    justify-content: center;
    margin-bottom: -10px;
}


.diseño-ig {
    margin-top: 5px;
    color: black;
    font-size: 30px;
    margin-left: 50px;
}

.fa-facebook {
    margin-top: 5px;
    color: black;
    font-size: 30px;
    margin-left: -20px;
}

.diseño-ig:hover {
    color: rgb(255, 147, 59);
    transition: 0.4s;
    transform: scale(1.2);
}

.fa-facebook:hover {
    color: rgb(255, 147, 59);
    transition: 0.4s;
    transform: scale(1.2);
}

.hover-fondo-superior:hover {
    color: black;
}

.fondo-del-nav {
    background-color: rgb(255, 255, 255);
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
}

.nav-item a:hover {
    color: rgb(255, 255, 255);
}

ul li .sobre-mi {
    margin-top: 10px ;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
    z-index: 1;
    letter-spacing: 1px;
}

ul li .sobre-mi:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid rgb(255, 255, 255);
    transform: scaleY(2);
    opacity: 0;
    transition: 0.3s;
}

ul li .sobre-mi:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 147, 59);
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
}

ul li .sobre-mi:hover {
    color: #fff;
}

ul li .sobre-mi:hover:before {
    transform: scaleY(1);
    opacity: 1;
}

ul li .sobre-mi:hover:after {
    transform: scaleY(1);
    opacity: 1;
}

.inicio {
    background:url("../contenido-multimedia/3\ micros-opacidad\ -\ copia.png");
    background-size: cover;
    background-position: center center;
}

/* TEXTO DE IMAGEN PRINCIPAL*/
.inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inicio .contenido .presentacion .bienvenida {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.inicio .contenido .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}


.descripcion {
    max-width: 700px;
    font-size: 28px;
    text-align: center;
}

/* PREGUNTAR PRESUPUESTO */
.Transporte-Raul {
    color: rgb(255, 147, 59);
}

.linea-presentacion {
    font-size: 60px;
    color: rgba(255, 255, 255, 0.637);
}

.linea-presentacion2 {
    font-size: 60px;
    margin-top: -70px;
    color: rgba(255, 255, 255, 0.637);
}

.inicio .contenido .presentacion a {
    background-color: rgba(0, 0, 0, 0.564);
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 10px 15px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

.inicio .contenido .presentacion a:hover {
    background-color: #19b552;
}
















