@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@500 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');


/* LOGO DE WHATSAPP */
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #19b552;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
    transition: 0.4s;
    transform: scale(1.2)
}

.my-float {
    margin-top: 16px;
}

/* TAMAÑO DE LA BARRA DE SCROLL*/
body::-webkit-scrollbar {
    background-color: #ffffff;
    width: 15px;
}

/* color del boton de scrool  */
body::-webkit-scrollbar-thumb {
    background-color: rgb(41, 41, 41);
    border-radius: 8px;
    border: 3px solid rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(101, 101, 101);
}

/* *********************/
/* MENU HAMBURGUESA */
/* *********************/

.hamburger {
    padding: 15px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    background-color: transparent;
}

.hamburger__container {
    width: 36px;
    height: 24px;
    position: relative;
}

.hamburger:hover .hamburger__inner {
    transform: translate(-51px, 50%);
    opacity: 0;
}

.hamburger:hover .hamburger__inner::before,
.hamburger:hover .hamburger__inner::after {
    transform: translate(102px, 0);
    opacity: 0;
}

.hamburger.is-active .hamburger__inner {
    display: none;
}

.hamburger__inner {
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    top: 50%;
    transform: translate(5px, -50%);
    opacity: 1;
}

.hamburger__inner::before,
.hamburger__inner::after {
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    content: "";
    opacity: 1;
    transform: translate(-5px, 0);
}

.hamburger__inner::before {
    top: -13px;
}

.hamburger__inner::after {
    top: 13px;
}

.hamburger:hover .hamburger__hidden {
    opacity: 1;
    transform: translate(0, -50%);
}

.hamburger:hover .hamburger__hidden::before,
.hamburger:hover .hamburger__hidden::after {
    opacity: 1;
    transform: translate(0, 0);
}

.hamburger.is-active .hamburger__hidden {
    opacity: 1;
    transform: rotate(45deg);
}

.hamburger.is-active .hamburger__hidden::before {
    transform: translate(0, 13px) rotate(90deg);
    transform-origin: center;
}

.hamburger.is-active .hamburger__hidden::after {
    transform-origin: center;
    transform: translate(0, -13px) rotate(0);
}

.hamburger__hidden {
    opacity: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    background-color: rgb(255, 199, 88);
    top: 50%;
    transform: translate(51px, -50%);
}

.hamburger__hidden::before,
.hamburger__hidden::after {
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.4s;
    background-color: rgb(255, 199, 88);
    content: "";
    transform: translate(102px, 0);
}

.hamburger__hidden::before {
    top: -13px;
}

.hamburger__hidden::after {
    top: 13px;
}


/* *********************/
/* seccion I N I C I O */
/* *********************/
.fondo-superiro-navbar {
    background-color: rgb(255, 147, 59);
    padding: 10px; 
}

.hover-fondo-superior:hover {
    color: black;
    transition: 0.5s;
}

.telefonos {
    font-size: .60em;
    letter-spacing: 1px;
    
}

.posicion-letras{
    margin-left: -70px;
}

.logo-tutuca {
    margin-top: -10px;
}

.telefonos {
    font-size: .60em;
    letter-spacing: 1px;
    
}

.posicion-nav{
    justify-content: center;
    margin-bottom: -10px;
}


.diseño-ig {
    margin-top: 5px;
    color: #E1306C;
    font-size: 30px;
    margin-left: 50px;
}

.fa-facebook {
    margin-top: 5px;
    color: #3b5998;
    font-size: 30px;
    margin-left: -20px;
}



.diseño-ig:hover {
    color: rgb(255, 147, 59);
    transition: 0.4s;
    transform: scale(1.2);
}

.fa-facebook:hover {
    color: rgb(255, 147, 59);
    transition: 0.4s;
    transform: scale(1.2);
}

.fondo-del-nav {
    background-color: rgb(255, 255, 255);
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
}

.nav-item a:hover {
    color: rgb(255, 255, 255);
}

ul li .sobre-mi {
    margin-top: 10px ;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
    z-index: 1;
    letter-spacing: 1px;
}

ul li .sobre-mi:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid rgb(255, 255, 255);
    transform: scaleY(2);
    opacity: 0;
    transition: 0.3s;
}

ul li .sobre-mi:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 147, 59);
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
}

ul li .sobre-mi:hover {
    color: #fff;
}

ul li .sobre-mi:hover:before {
    transform: scaleY(1);
    opacity: 1;
}

ul li .sobre-mi:hover:after {
    transform: scaleY(1);
    opacity: 1;
}

.inicio {
    background:url("../contenido-multimedia/3\ micros-opacidad\ -\ copia.png");
    background-size: cover;
    background-position: center center;
}




/* ***************************/
/* TEXTO DE IMAGEN PRINCIPAL */
/* ***************************/
.inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inicio .contenido .presentacion .bienvenida {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.inicio .contenido .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}


.descripcion {
    max-width: 700px;
    font-size: 28px;
    text-align: center;
}

/* PREGUNTAR PRESUPUESTO */
.Transporte-Raul {
    color: rgb(255, 147, 59);
}

.linea-presentacion {
    font-size: 60px;
    color: rgba(255, 255, 255, 0.637);
}

.linea-presentacion2 {
    font-size: 60px;
    margin-top: -70px;
    color: rgba(255, 255, 255, 0.637);
}

.inicio .contenido .presentacion a {
    background-color: rgba(0, 0, 0, 0.564);
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 10px 15px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

.inicio .contenido .presentacion a:hover {
    background-color: #19b552;
}



/* ***************************/
/****** SOBRE NOSOTROS *******/
/* ***************************/
.fondo-sobreNosotros{
    background-color: #f3f3f3;
}

  .sobre-nosotros-content {
    padding: 40px;
    text-align: center;
  }
  
  .sobre-nosotros h2 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .sobre-nosotros p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
  }


/* VEHICULOS-SERVICIOS-ZONAS DE SERVICIO */

.boton-fotos-vehiculo{
    background-color: #ff914d;
    margin-top: -100px;
}



















/*******************************************/
/* CODIGO DE CONDUCTA PARA MAYOR SEGURIDAD */
/*******************************************/
.fondo-codigo-conducta{
    background-color: #ff914d;
}

.informacionUtil{
    font-size: 30px;
    color: white;
}

.parrafo-informacionUtil{
    color: white;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 20px;
}

.fondo-informacionUtil{
    background-color:  #ff914d;
}

.conducta-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .conducta-container svg {
    color: #ffffff;
    width: 850px;
    height: auto;
    margin-right: 50px;
  }
  


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .container svg {
    max-width: 100%;
    height: auto;
  }
  




/**************/
/* CONTACTAR */
/************/
.fondo-contactar{
  background-image: url(../contenido-multimedia/3\ micros-opacidad\ -\ copia\ -\ copia.png);
  /* background-image: linear-gradient(0deg, rgb(255 255 255 / 85%), rgb(0 0 0 / 0%)), url(../IMAGENES/gnc-fondo\ -oscuro.jpg); */
 background-repeat: no-repeat;
 background-size: cover;
 padding: 35px;
 background-attachment: fixed; 
}
.texto-fondo-contactar{
    font-family: 'Montserrat', sans-serif;
  }


/**************/
/* FOOTER */
/************/

.fondo-footer{
    background-color:#333;
}

.instagram:hover   {
    color:  #E1306C;
    transition: all 0.4s;
    transform: scale(1.3)
}

.fondo-footer .fa-facebook {
    margin-top: 5px;
    color: #ffffff;
    font-size: 25px;
    margin-left: 0px;
}

.fondo-footer .fa-facebook:hover{
    color:   #3b5998;
    transition: all 0.4s;
    transform: scale(1.3)
}

.whatsapp:hover{
    color: rgb(20, 157, 20);
    transition: all 0.4s;
    transform: scale(1.3)
}
.tamaño-logo-contacto{
    font-size: 25px;
}
.boton-contactar{
background-color: rgb(120, 120, 120);
border: solid rgb(120, 120, 120);
border-radius: 10px;
font-family: 'Montserrat', sans-serif;
}
.boton-contactar:hover{
  background-color:  #ff914d;
  border: solid  #ff914d;
  border-radius: 10px;
  transition: 0.4s;
  transform: scale(1.1)
}
.fondo-derechosReservados{
margin-bottom: -0px;
}
.diseño-footer{
  color:rgb(255, 255, 255);
}
.diseño-footer:hover{
color: rgb(255, 199, 88);
}
.atencion-al-cliente{
  color:white;
}
.atencion-al-cliente:hover{
color: #ff914d ;
transition: 0.4s;
transform: scale(1.1);
}

.todos-los-derechos-reservados{
background-color:  #ff914d;
}



























/* MEDIA CUIRE */
@media screen and (min-width: 769px) and (max-width: 991px) {   /*cambie el 991 en vex de 1254 */
    /* background-attachment: fixed; */
    .boton-izq-vehiculo{
        margin-top: -15rem;
        }
        .boton-der-vehiculo{
            margin-top: -15rem;
        }


   /*******************************************/
/* CODIGO DE CONDUCTA PARA MAYOR SEGURIDAD */
/*******************************************/
.conducta-container {
    flex-direction: column;
    align-items: center;
  }
  
  .container img {
    margin-bottom: 20px;
    
  }

  .container svg {
    max-width: 16rem;
    height: auto;
    margin-bottom: 4rem;
    padding-left: 3rem;
  }

  .informacionUtil{
    font-size: 30px;
    color: white;
}

.parrafo-informacionUtil{
    color: white;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 20px;
}
    }
  
   






  @media screen and (min-width:481px) and (max-width: 768px) {
    /*******************************************/
/* CODIGO DE CONDUCTA PARA MAYOR SEGURIDAD */
/*******************************************/
.conducta-container {
    flex-direction: column;
    align-items: center;
  }
  
  .container img {
    margin-bottom: 20px;
    
  }

  .container svg {
    max-width: 16rem;
    height: auto;
    margin-bottom: 4rem;
    padding-left: 3rem;
  }

  .informacionUtil{
    font-size: 30px;
    color: white;
}

.parrafo-informacionUtil{
    color: white;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 20px;
}


    }
    
  
  
  









  @media screen and (min-width:320px) and (max-width: 480px) {
    
    .linea-presentacion{
        font-size: 30px;
    color: rgba(255, 255, 255, 0.637);
    }
    .linea-presentacion2{
        margin-top: -40px;
        font-size: 30px;
    color: rgba(255, 255, 255, 0.637);
    }
    .inicio .contenido .presentacion .bienvenida{
        font-size: 20px;
    }
    .inicio .contenido .presentacion h2 {
        font-size: 30px;
        margin-bottom: 25px;
        text-align: center;
    }
    .descripcion {
        font-size: 20px;
        text-align: center;
    }

/* ***************************/
/****** SOBRE NOSOTROS *******/
/* ***************************/
.fondo-sobreNosotros{
    background-color: #f3f3f3;
}

  .sobre-nosotros-content {
    padding: 40px;
    text-align: center;
  }
  
  .sobre-nosotros h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .sobre-nosotros p {
    font-size: 1.0rem;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .boton-izq-vehiculo{
    margin-top: -8rem;
    }
    .boton-der-vehiculo{
        margin-top: -8rem;
    }


/*******************************************/
/* CODIGO DE CONDUCTA PARA MAYOR SEGURIDAD */
/*******************************************/
.conducta-container {
    flex-direction: column;
    align-items: center;
  }
  
  .container img {
    margin-bottom: 20px;
    
  }

  .container svg {
    max-width: 16rem;
    height: auto;
    margin-bottom: 4rem;
    padding-left: 3rem;
  }

  .informacionUtil{
    font-size: 30px;
    color: white;
}

.parrafo-informacionUtil{
    color: white;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 20px;
}
}
















/********************************/
/* RESPONSIVE BOTON SERVICIOS */
/*******************************/

     @media screen and (min-width:440px) {
        .boton-izq-vehiculo{
            margin-top: -0rem;
            }
            .boton-der-vehiculo{
                margin-top: -0rem;
            }

     }

     @media screen and (min-width:410px) and (max-width: 440px){
        .boton-izq-vehiculo{
            margin-top: -0rem;
            }
            .boton-der-vehiculo{
                margin-top: -0rem;
            }
            .boton-der-servicios{
                margin-top: -0rem;
            }

            .boton-izq-servicios{
                margin-top: -0rem;
            }
     }

     @media screen and (min-width:370px) and (max-width: 410px){
        .boton-izq-vehiculo{
            margin-top: -3rem;
            }
            .boton-der-vehiculo{
                margin-top: -3rem;
            }

            .boton-der-servicios{
                margin-top: -0rem;
            }

            .boton-izq-servicios{
                margin-top: -0rem;
            }
     }

     @media screen and (min-width:320px) and (max-width: 369px){
        .boton-izq-vehiculo{
            margin-top: -4rem;
            }
            .boton-der-vehiculo{
                margin-top: -4rem;
            }

            .boton-der-servicios{
                margin-top: -0rem;
            }

            .boton-izq-servicios{
                margin-top: -0rem;
            }
     }

     